@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #C1343F;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4A4444;	
}

p {
  font-family: inherit;
  font-weight: 100;
}


li {
  font-family: inherit;
  font-weight: 100;
}

a {
  color: #DD4F53;
}

header {
  font-size: 2rem;
}


header .jumbotron {
  height: 45vh;
  margin-bottom: 0;
  background: url(../images/logo.jpg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/**  Navbar **/

header .navbar {
  background: #9D00B0;
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}

header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
} 


.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}



/** Employee Info **/

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

label{
  font-weight: 400;
  margin-bottom: 10px;
}

.gap-form{
  margin-top: 10px;
}

.report{
  width: 95%;
  border: none;
}