<!DOCTYPE html>
<html>
	<head><% include partials/template/head_sucessful.ejs %></head>
	<body>
		<% include partials/template/header.ejs %>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<% include partials/content/error.ejs %>
				</div>
			</div>
		</div>
	</body>
</html>